/* input.module.scss */
.input {
    width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  }
  
  /* Apply additional styles for when the input is focused */
  .input:focus {
    border-color: #3490dc;
  }
  